@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item active col-md-3">
        <a asp-controller="Home" asp-action="Index" class="nav-link h5">Home</a>
    </li>
    <li class="nav-item active col-md-3">
        <a asp-controller="User" asp-action="Profile" class="nav-link h5">Profile</a>
    </li>
    <li class="nav-item active col-md-3">
        <a class="nav-link h5" href="/tube/upload">Upload</a>
    </li>
    <li class="nav-item active col-md-3">
        <form method="post" asp-controller="User" asp-action="Logout" asp-antiforgery="true">
            <button type="submit" class="btn btn-link nav-link h5">Log out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item active col-md-4">
        <a asp-controller="Home" asp-action="Index" class="nav-link h5">Home</a>
    </li>
    <li class="nav-item active col-md-4">
        <a asp-controller="User" asp-action="Login" class="nav-link h5">Login</a>
    </li>
    <li class="nav-item active col-md-4">
        <a asp-controller="User" asp-action="Register" class="nav-link h5">Register</a>
    </li>
}